.badge {
    background-color: tomato;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.pizza_badge{
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: 22px;
    right: -2px;
}